name: Node CI

on: [push]

jobs:
  build_ts-api-decorators:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: yarn install, build, and test
      working-directory: packages/ts-api-decorators
      run: |
        yarn install
        yarn run build
        yarn run test test
      env:
        CI: true
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        # Artifact name
        name: ts-api-decorators
        # Directory containing files to upload
        path: packages/ts-api-decorators/dist

  build_ts-api-decorators-express:

    runs-on: ubuntu-latest
    needs: [build_ts-api-decorators]

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Download artifact
      uses: actions/download-artifact@v1.0.0
      with:
        # Artifact name
        name: ts-api-decorators
        # Destination path
        path: packages/ts-api-decorators/dist
    - name: yarn install, build, and test
      working-directory: packages/ts-api-decorators
      run: |
        yarn install
        yarn link
      env:
        CI: true
    - name: npm install, build, and test
      working-directory: packages/ts-api-decorators-express
      run: |
        yarn install
        yarn link ts-api-decorators
        yarn run build
        yarn run test
      env:
        CI: true
